sms-supplierdata-api/src/main/mule/commons.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="response-data" doc:id="9c2b3298-9b98-4bfa-a3dd-39995d7f67fe" >
		<ee:transform doc:name="Transform Message" doc:id="0fc0bfc8-6167-45b9-bedc-8ef8d0f8cccc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"totalRecords": payload[0].'full_count',
	"offset": vars.requestParams.'offSet',
	"limit": vars.requestParams.'limit',
	"data": payload  map $ - "full_count"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<sub-flow name="limit-validation-check" doc:id="2212b349-e7ba-4365-bd9d-7fd2e8ca4b7d" >
		<!-- <validation:is-false doc:name="Is false" doc:id="44b289db-e92b-405d-a955-da9f6c363d1d" config-ref="Validation_Config" expression="#[attributes.queryParams.'limit' &lt;= p('secure::smssupplierdataapi.maxlimit')]" message="#['The limit value cannot be be greater than max configured value:' ++  p('secure::smssupplierdataapi.maxlimit')]" />
		 --><validation:is-true doc:name="Is true" doc:id="56328e8c-2438-4131-ada9-f3cf40f5d429" config-ref="Validation_Config" expression="#[(attributes.queryParams.'limit' as Number) &lt;= p('secure::smssupplierdataapi.maxlimit')]" message="#['The limit value cannot be be greater than max configured value:' ++  p('secure::smssupplierdataapi.maxlimit')]"/>
	</sub-flow>
	<error-handler name="commonsError_Handler" doc:id="2701bab4-1ca2-485b-bca9-037c6d18f727" >
		  <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="357a94be-b6eb-4aea-b939-a9aac471d126" >
				<set-variable value="#[500]" doc:name="Set Variable" doc:id="a9ce866e-6112-4aa3-baaa-fd6a51befb1e" variableName="httpStatus"/>
				<ee:transform doc:name="Transform Message" doc:id="4e45adf0-90c1-47f4-a698-49ef44b2d9cc" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":" Error while retrieving sms data",
	"requestPath"  : vars.requestURIPath default '',//attributes.maskedRequestPath default '',
	"errorDescription": error.description default "",
	"errorType" : error.errorType.identifier default ""
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			<logger level="ERROR" doc:name="Logger" doc:id="41b96b01-26c3-4abb-b175-62d7893be60c" message="#[output application/json --- payload]"/>
			
</on-error-propagate>
		</error-handler>
</mule>
